/* src/styles/Homescreen.css */
.homescreen-container {
    text-align: center;
    padding: 40px 20px;
  }
  
  .login-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff; /* Biru */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3; /* Biru lebih gelap */
  }